{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="css" href="/static/style.css">
{% endblock %}

{% block body %}
{{ super() }}
<div class="center">
  <h2>Change Password</h2>
  <form action="/password" method="POST" role="form">
    <label>Current Password</label>
    <input type="password" name="current_password" class="form-control"/>
    <label>New Password</label>
    <input type="password" name="new_password" class="form-control"/>
    <label>New Password Confirm</label>
    <input type="password" name="new_password_confirm" class="form-control"/>
    
    <div class="padded">
      <button class="btn btn-default">Change Password</button>
    </div>
  </form>
</div>
{% endblock %}