<!-- Built with Divshot - http://www.divshot.com -->
{% extends "layout.html" %}  
{% block title %}Add Classes{% endblock %}
{% block head %}
  {{ super() }}
  <meta name="viewport" content="width=device-width">
  <script src="/static/chosen_v1.0.0/chosen.jquery.min.js"></script>
  <link rel="stylesheet" href="/static/chosen_v1.0.0/chosen.min.css">
  <script type="text/javascript">
  $(function() {
    $("select").chosen();
    // use the Chosen javascript select box library
  });
  </script>
  
{% endblock %}
{% block body %}
  {{ super() }} 
  <div class="container">
    <h1>Enter your Current Classes</h1>
    <form action="/classes" method="POST">
      {% for block_letter in blocks %}
        <div class="form-group">
          <label class="control-label">{{ block_letter }} Block Class</label>
          <div class="controls">
            <select data-placeholder="Choose a class..." name="{{ block_letter }}" style="width: 250px;" >
              {% for class in classes[block_letter] %}
                <option value="{{ class }}">{{ class }}</option>
              {% endfor %}
            </select>   
          </div>
        </div>
      {% endfor %}

        <button class="btn btn-primary">Submit Classes</button>
    </form>

  </div>
{% endblock body %}