<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap-theme.min.css"/>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  {% endblock %}
</head>

<body>
  {% block body %}
  <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
          <div class="alert {{ category }}" style="text-align: center;"><p>{{ message }}</p></div>
      {% endfor %}  
    {% endif %}
    {% endwith %}
  </div>
  {% endblock %}
</body>

</html>
