<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>

<body>
  <div>
    <form action="/login" method="POST">
      <table>
        <tr>
          <td><label>Bush Email</label></td>
          <td><input type="text" name="email"/></td>
        </tr>
        <tr>
          <td><label>Password</label></td>
          <td><input type="text" name="password"></td>
        </tr>
      </table>
      <button>Login</button>
    </form>
    
    Or, <a href="/account/new">Create an Account<a>
    
  </div>
</body>

</html>