<!DOCTYPE html>
<html>
<head>
	<title>Schedule</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<!-- Guns don't kill people. Wrappers kill people. -->
<div class="columnRight">
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>  
  
  <ul class="list">
    {% for c in classes %}
      <li class="item">{{ c.block }} {{ c.name }}</li>
    {% endfor %}    
  </ul>
  
</div>
  
<div id="wrapper">
  
	{% for i in days: %}
	<div class="day">
		<div class="block">
			<div class="blockInner">
			{{ i }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

</body>
</html>